[user]
  	name = Jorge Alves

[author]
  	name = Jorge Alves

[commiter]
  	name = Jorge Alves

[core]
	editor = nvim
    excludesfile = ~/.gitignore_global

[color]
	advice = always
	branch = always
	diff = always
	grep = always
	interactive = always
	push = always
	showBranch = always
	remote = always
	status = always
	ui = always

[commit]
    gpgsign = true

[gpg]
    format = ssh

[init]
    defaultBranch = main

[credential]
    helper = osxkeychain

[alias]
    lg = log --oneline --graph --decorate

[blame]
  	coloring = highlightRecent

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# Private config handles ALL profile switching
[include]
    path = ~/.gitconfig.private