[user]
	name = Jorge Alves
	email = jorgeandrealves@gmail.com
	signingkey = 02835DE4E360E76A46B8AA6EE901E3B323F0D345

[includeIf "gitdir:~/projects/worten/**"]
  path = ~/.gitconfig_wrt

[includeIf "gitdir:~/projects/devoteam/**"]
  path = ~/.gitconfig_dvt
[core]    
  editor = nvim
	excludesfile = /Users/jorgealves/.gitignore_global
[commit]
	template = /Users/jorgealves/.stCommitMsg
[gpg]
	program = gpg
[help]
  autocorrect = 30
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[safe]
	directory = /Users/jorgealves
