[includeIf "gitdir:~/projects/"]
	path = ~/.gitconfig.private
	
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.config/git/excludes
	fsmonitor = true
	untrackedCache = true
	
[init]
	defaultBranch = main

[fetch]
	prune = true
	pruneTags = true
	all = true
	
[pull]
	rebase = true
	ff = only
	
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true

[merge]
	conflictStyle = zdiff3

[push]
	default = simple
	autoSetupRemote = true
	followTags = true
	
[commit]
	verbose = true
	gpgsign = true
	
[branch]
	sort = -committerdate
	
[tag]
	sort = version:refname
	
[diff]
	algorithm = histogram
	colorMoved = default
	mnemonicPrefix = true
	renames = true
	
[log]
	date = iso 
	
[status]
	showUntrackedFiles = all

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
	
[color]
	ui = auto
	
[column]
	ui = auto

[rerere]
	enabled = true
	autoupdate = true
	
[help]
	autocorrect = true
	
[filter "lfs"]
		clean = git-lfs clean -- %f
		smudge = git-lfs smudge -- %f
		process = git-lfs filter-process
		required = true

	
[alias]
	st = status
  co = checkout
  br = branch
  ci = commit
  ca = commit --amend
  cane = commit --amend --no-edit

  lg = log --oneline --decorate --graph --all
  lga = log --oneline --decorate --graph --all --stat

  fixup = commit --fixup
  squash = rebase -i --autosquash

  undo = reset --soft HEAD~1
  wipe = reset --hard HEAD	

